	<script>if(!window.jQuery){document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');}</script>
	<script>if(!window.jQuery){document.write('<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"><\/script>');}</script>
	<script src="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20160317/1/js/bulldog.min.js"></script>
	
	<!-- [BEGIN] Zeppelin -->
	<script src="http://zeppelin.registerguard.com/prod/0.1.0/20140911/1/scripts/zeppelin.min.js"></script>
	<!-- [END] Zeppelin -->	
